@use "~@project-sunbird/sb-styles/assets/mixins/mixins" as *;

/* Layout: */

.layout {
  display: grid;
  height: calc(100vh - 3rem);
  background-size: cover;
  
  // grid-template-columns: 1fr 2fr;

  @include respond-below(sm) {
    grid-template-columns: 1fr;
    height: calc(100vh - 3.5rem);
  }

  .left-panel {
    background: url(/assets/images/bg.svg) no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;

    @include respond-below(sm) {
      display: none;
    }

    .image {
      width: calculateRem(124px);
      height: calculateRem(124px);
      background: var(--signup-panel-bg);
      display: flex;
      align-items: center;
      border-radius: 50%;
      position: absolute;
      overflow: hidden;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      justify-content: center;
      padding: 0.5rem;

      img {
        max-width: 100%;
      }
    }
  }

  .right-panel {
    background: var(--signup-panel-bg);
    height: 100%;
    position: relative;

    .login-content {
      text-align: right;
      // padding:1rem 1rem 1.5rem 1rem;
      position: relative;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16) !important;
      @include respond-below(sm) {
        text-align: center;
      }
    }
  }
  .sb-header-ui-container  {
    padding: .5rem;
  }
  img.cursor-pointer {
    width: 285px;
    height: 56px;
  }

  .content-center-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    padding-bottom: 2rem;
    background-repeat: no-repeat;
    min-height: 100vh;
    background: url(/assets/images/bg.png) no-repeat center center fixed;
    background-size: cover;
    background-color: #000; 
  }
  .content-center-block {
    background-color: var(--white);
    border-radius: 8px !important;
    padding: 3rem;
  }
}
.sb-header-list-items {
  a {
    color: white !important;
  }
}
@media only screen and (max-width: 768px) {
  .sb-header-ui-container  {
    padding: 1rem;
  }
  .ui.container {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
::ng-deep .mat-form-field-flex {
  padding: 0.5rem .5rem !important;
}
::ng-deep .mat-form-field-invalid .mat-input-element {
  padding: 0 8px;
}
::ng-deep  .sb-form-control {
 min-height: 2.5rem;
}
::ng-deep .mat-form-field-infix:focus-visible {
  border: none !important;
}
::ng-deep .sb-mat__dropdown.sb-mat__dropdown--autocmp.mat-form-field-appearance-fill .mat-form-field-infix {
  line-height: 1.5rem !important;
}
::ng-deep input.mat-input-element:focus-visible {
  border: none !important;
}