<!-- New Design code for Registration page -->

<div class="layout">
  <!-- <div class="left-panel">
    <div class="image"><img alt={{tenantName}} src="{{secondaryLogo}}">
    </div>
  </div> -->


  <div class="right-panel d-flex flex-dc">
    <div *ngIf="!routeParams?.loginMode" class="login-content w-100 fix-bottom">
      <div  class="ui container sb-header-ui-container">
        <div  class="ui grid padded width-100">
          <div  class="p-0 d-flex flex-ai-center two wide column" >
            <a  aria-label="Navigate to Homepage" class="d-flex logo" role="link" tabindex="0" title="Niramaya">
              <img  class="cursor-pointer" alt="Niramaya" src="https://uphrh.in/assets/images/sunbird_logo.png">
            </a>
          </div>
          <div  class="p-0 d-flex flex-jc-flex-end flex-ai-center ten wide column sb-header-list-items" >
            <a  class="sb-btn sb-btn-primary p-8"  (click)="redirectToLogin()" >Login</a>
          </div>
        </div>
      </div>
    </div>
    <div class="content-center-container">
      <div class="content-center-block">
        <div class="logo-content">
          <div class="text-center mb-8">
            <!-- <img class="image centered" tabindex="0" aria-label="" alt={{tenantName}} height="56" src="{{logo}}"> -->
          </div>
          <h3 tabindex="0" class="sb-color-primary text-center font-weight-bold mb-8" *ngIf="!routeParams?.loginMode">
            {{resourceService.frmelmnts.lbl.welcomeToInstance | interpolate:'{instance}': instance}}</h3>
      </div>
  
      <ng-container [ngSwitch]="signupStage">
                <app-signup-basic-info [isIOSDevice]="isIOSDevice" [telemetryImpression]="telemetryImpression"
                  [submitInteractEdata]="submitInteractEdata" [telemetryCdata]="telemetryCdata"
                  *ngSwitchCase="Stage.BASIC_INFO" [startingForm]="signUpForm" [routeParams]="routeParams" 
                  [registerFormConfig]="registerFormConfig" 
                  (subformInitialized)="subformInitialized('basicInfo', $event)" (triggerNext)="changeStep()">
                </app-signup-basic-info>
                <app-signup-onboarding-info *ngSwitchCase="Stage.ONBOARDING_INFO" [startingForm]="signUpForm" 
                  (subformInitialized)="subformInitialized('onboardingInfo', $event)" (triggerNext)="changeStep()">
                </app-signup-onboarding-info>
                <app-signup-email-password *ngSwitchCase="Stage.EMAIL_PASSWORD" [startingForm]="signUpForm" 
                  (subformInitialized)="subformInitialized('emailPassInfo', $event)" (triggerNext)="changeStep()">
                </app-signup-email-password>
                <app-otp class="w-100" *ngSwitchCase="Stage.OTP" [startingForm]="signUpForm" (triggerNext)="changeStep()"></app-otp>
      </ng-container>
      </div>
    </div>
  </div>

</div>
